:root{
    --dark: black;
    --white: white;
    --light-grey: #cfcfcf;
    --gold: #ecd5a7;
    --pink: #D95496;
    --violet: #6C10E5;
    --orange: #DD4B25;
    box-sizing: border-box;
}
*,*:after, *:before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    letter-spacing: .05rem;
}
section{
    padding: 150px 10px ;
}

h1 ,h2, h3, .navnar-brand{
    font-family: "Oswald", sans-serif;
    font-weight: 250px ;
    line-height: 1.5 ;
}

/* colores */
.btn{
    font-weight: 600;
    padding: 12px 35px;
}
.btn-outline-warning{
    color: var(--orange);
}
.text-warning{
    color: var(--orange) !important;
}
.bg-light-grey{
    background-color: var(--light-grey);
}
.bg-white{
    background-color: var(--white) !important;
}
.bg-pink{
    background-color: var(--pink) !important;
}
.bg-violet{
    background-color: var(--violet);
}
.bg-orange{
    background-color: var(--orange) !important ;
}
.text-gold{
    color: var(--gold) !important;
}
.text-light{
    color: var(--white) !important;
}
.list-group-item-orange{
    color: var(--orange);
}
/* Imagen centrada */
.main-photo{
    border: 10px solid var(--gold);
    border-radius: 50%;
    box-shadow: 0px 8px 15px ;
}
.froggy{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;

}
/* contenedor hover */
.contenedorHover{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.contenedorHover figure{
    cursor: pointer;
}
.contenedorHover figure img {
    transition: all 500ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorHover figure .capa{
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-out;
}
.contenedorHover figure:hover > .capa {
    transition: all 500ms ease-out;
    opacity: 1;
    visibility: visible;

}

/* contenedor de js */
.contenedor{
    background-color: rgba(15, 15, 15, 0.88);
    height: 100vh;
    display: flex;
    -webkit-transition: all 1s ease;
    -o-transition:  all 1s ease;
    justify-content: center;
    align-items: center;
    transition:  all 1s ease;
    z-index: 90000;
}

/* imagen con el hover */


.fa-html5:hover{
    cursor: pointer;
    background-color: var(--orange);
    transition: all 1s ease;

}
.search{
    border: 15px solid #ccc;
    border-top-color: #df7128;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    /* aca empieza para mostrar el lugar donde va a estar el icono de cargar */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.6s linear infinite;
    -o-animation:  girar 1.6s linear infinite;
    animation: girar 1.6s linear infinite;
    z-index: 10000;
}
.carga{
    height: 50px;
}
.wzp{
    color: rgb(25, 155, 69);
    display: inline-block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
a.active,a:hover{
    border: 0.5px solid #df7128;
   
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 50px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
.final{
    display: flex;
    justify-content: flex-end;

}
/* truco de email */
#truco{
    opacity: 0;
}
figure{
    position: absolute;
    z-index: 4;
    left: 0em;
    top: 150px;
}
@media (max-widht: 1199px){
    .lead{
        margin-bottom: 15px;
        margin-left: 14px;
        margin-top: 15px;
    }


}
@media(max-width: 1048px){
 
    .lead{
        margin-bottom: 15px;
        margin-left: 14px;
        margin-top: 15px;
    }
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }  
}
@media(max-width: 909px){
    .lead{
        margin-bottom: 15px;
        margin-left: 14px;
        margin-top: 15px;
    }
}
@keyframes girar{
    from{ 
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

