:root{
    --dark: black;
    --white: white;
    --light-grey: #cfcfcf;
    --gold: #ecd5a7;
    --pink: #D95496;
    --violet: #6C10E5;
    --orange: #DD4B25;
    box-sizing: border-box;
}
*,*:after, *:before{
    margin:0;
    padding:0;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    letter-spacing: .05rem;
    background-color: #ffffff;
}
h2, h3, h4, h5, h6, .navnar-brand{
    font-family: "Oswald", sans-serif;
    font-weight: 250 !important;
    line-height: 1.5 !important;
}
/* presentacion imagen*/
.redondo{
    border-radius: 100%;
}
/* colores */
.bg-light-grey{
    background-color: var(--light-grey);
}
.bg-white{
    background-color: var(--white) !important;
}
.bg-pink{
    background-color: var(--pink) !important;
}
.bg-violet{
    background-color: var(--violet);
}
.bg-orange{
    background-color: var(--orange);
}
.text-gold{
    color: var(--gold) !important;
}
.text-light{
    color: var(--white) !important;
}

/* navbar */
.navbar{
    min-width: 10rem;
    transition: all 0.5s ease;
}
.navbar-nav{
    color: var(--gold) !important;
    background-color: var(--white) !important;
}
.navbar-nav li a{
    font-weight: bold;
    color: var(--white);
    transition: all 0.5s ease;
}
.navbar-nav li a:hover{
    padding: 5px 10px;
    color: black;
    background: var(--white);
    border-radius: 10px;
}
.nav-link{
    text-transform: uppercase;
    font-size: .8rem;
}


.section{
    padding: 1rem 0;
}
#slider{
    padding: 0 ;
}
.text-center{
    text-align: center !important;
}
.caption{
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
}
.mt-6{
    margin-top: 4rem;
}
.btn-primary{
    background-color: var(--white);
    color: var(--dark);
    border-color: var(--dark);
}
.btn-primary:hover{
    background-color: var(--white);
    color: var(--dark);
    border-color: var(--dark);
}
.contenedor{
    background-color: rgba(15, 15, 15, 0.88);
    height: 100vh;
    display: flex;
    -webkit-transition: all 1s ease;
    -o-transition:  all 1s ease;
    justify-content: center;
    align-items: center;
    transition:  all 1s ease;
    z-index: 90000;
}
.container-lg{
    -webkit-transition: all 1s ease;
    -o-transition:  all 1s ease;
    transition:  all 1s ease;
}
/* imagen con el hover */
.box{
    padding: 0px 1px;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
  }
.box:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}
.fa-html5:hover{
    cursor: pointer;
    background-color: var(--orange);
    transition: all 1s ease;

}
.search{
    border: 15px solid #ccc;
    border-top-color: #df7128;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    /* aca empieza para mostrar el lugar donde va a estar el icono de cargar */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.6s linear infinite;
    -o-animation:  girar 1.6s linear infinite;
    animation: girar 1.6s linear infinite;
    z-index: 10000;
}
.hidden{
    overflow: hidden;
}

.carga{
    height: 50%;
}
.wzp{
    color: rgb(25, 155, 69);
    display: inline-block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 50px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
.iconos{
    width: 50%;
}
/* titulos  */
.gradiente{
    background: linear-gradient(to right, #c55b22 , #272727);
}
/* formulario */
.formulario{
    width: 50%;
    background: linear-gradient(to right, #35c522 , #3498db);
}
/* truco de email */
#truco{
    opacity: 0;
}
@media (max-widht: 1199px){
    .lead{
        margin-bottom: 15px;
        margin-left: 14px;
        margin-top: 15px;
    }
    #slider h3{
        font-size: 20px;
    }
    a.active,a:hover{
        border: 1px solid white;
        transition: .5s;
    }
    
    .navbar-nav li a{
        font-weight: bold;
        color: var(--white);
        transition: all 0.5s ease;
    }
    .navbar-nav li a:hover{
        padding: 5px 10px;
        color: black;
        background: var(--white);
        border-radius: 10px;
    }
}
@media(max-width: 1048px){
 
    .lead{
        margin-bottom: 15px;
        margin-left: 14px;
        margin-top: 15px;
    }
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
    a.active, a:hover{
        border: 1px solid white;
        transition: .5s;
    }
    .navbar-nav li a{
        font-weight: bold;
        color: var(--white);
        transition: all 0.5s ease;
    }
    .navbar-nav li a:hover{
        padding: 5px 10px;
        color: black;
        background: var(--white);
        border-radius: 10px;
    }
    
}
@media(max-width: 909px){
    .lead{
        margin-bottom: 15px;
        margin-left: 14px;
        margin-top: 15px;
    }
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin-right: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a,:active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
        z-index: 10000;
    }
    a.active,a:hover{
        border: 1px solid white;
        transition: .5s;
    }
    .navbar-nav li a{
        font-weight: bold;
        color: var(--white);
        transition: all 0.5s ease;
    }
    .navbar-nav li a:hover{
        padding: 5px 10px;
        color: black;
        background: var(--white);
        border-radius: 10px;
    }
}
@keyframes girar{
    from{ 
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

